**/*.o
**/*.a
**/*.so
**/*.d
**/*.bin
**/dep/**
**/build/**
**/obj/**
**/bin/**
**/sobj/**
**/lib/**
**/apidoc/**
**/test/data/**
**/*~
**/gmon.out
site/**
*.swp
.pydevproject
README-headless.md
README-orig.md
UsersGuide.md
Doxyfile.local
TODO
VERSION
RELEASE-HOWTO.md
infer-out
build/
Testing/
