<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<meta name="description" content="The NOVAS C library, made better. SuperNOVAS is a light-weight, high-precision astrometry library for C/C++."/>
<meta name="keywords" content="astronomy, astrometry, C, C++, library, NOVAS"/>
<meta name="author" content="Attila Kovacs"/>
<meta name="copyright" content="(C)2024 Attila Kovacs" />
<meta name="robots" content="index,follow"/>
<meta property="og:title" content="SuperNOVAS astrometry library for C/C++" />
<meta property="og:description" content="SuperNOVAS is a fork of the Naval Observatory Vector Astrometry Software (NOVAS) C version 3.1" /> 
<meta property="og:type" content="website" />
<meta property="og:image" content="https://smithsonian.github.io/SuperNOVAS/resources/SuperNOVAS-1200x691.png" />
<meta property="og:url" content="https://smithsonian.github.io/SuperNOVAS/" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="SuperNOVAS astrometry library for C/C++" />:
<meta name="twitter:image" content="https://smithsonian.github.io/SuperNOVAS/resources/SuperNOVAS-1200x691.png" />
<meta name="twitter:url" content="https://smithsonian.github.io/SuperNOVAS/" />

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico">
<link rel="icon" type="image/png" sizes="192x192" href="/resources/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/resources/android-chrome-512x512.png">
<link rel="apple-touch-icon" type="image/x-icon" href="/resources/apple-touch-icon.png">

<!-- end custom head snippets -->
