<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<meta name="keywords" content="astronomy, astrometry, C, C++, library, NOVAS"/>
<meta name="author" content="Attila Kovacs"/>
<meta name="copyright" content="(C)2024 Attila Kovacs" />
<meta name="robots" content="index,follow"/>
<meta property="og:image" content="https://smithsonian.github.io/SuperNOVAS/images/SuperNOVAS-800x460.png" />
<meta name="twitter:image" content="https://smithsonian.github.io/SuperNOVAS/images/SuperNOVAS-800x460.png" />

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="/SuperNOVAS/resources/favicon.ico">
<link rel="icon" type="image/png" sizes="192x192" href="/SuperNOVAS/resources/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/SuperNOVAS/resources/android-chrome-512x512.png">
<link rel="apple-touch-icon" type="image/x-icon" href="/SuperNOVAS/resources/apple-touch-icon.png">

<!-- end custom head snippets -->
