name: CMake
permissions:
  contents: read

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "include/**"
      - "CMakeLists.txt"
      - "cmake/**"
      - ".github/workflows/build-cmake.yml"

  pull_request:
    paths:
      - "src/**"
      - "include/**"
      - "CMakeLists.txt"
      - "cmake/**"
      - ".github/workflows/build-cmake.yml"

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6

      - name: Configure CMake (Unix)
        run: cmake -B build -DBUILD_SHARED_LIBS=ON -DBUILD_EXAMPLES=ON -DBUILD_BENCHMARK=ON -DBUILD_CPP_LIBS=ON

      - name: Build (Unix)
        if: runner.os != 'Windows'
        run: cmake --build build 

      - name: Build (Windows)
        if: runner.os == 'Windows'
        run: cmake --build build --config Release 

      - name: Install
        run: cmake --install build --prefix install

      - name: Check Installation (Unix)
        if: runner.os != 'Windows'
        run: |
          echo Installation contents:
          ls -la install/

      - name: Check Installation (Windows)
        if: runner.os == 'Windows'
        run: |
          echo Installation contents:
          dir install
    

  build-freebsd:
    runs-on: ubuntu-latest
    name: Build on FreeBSD
    steps:
      - uses: actions/checkout@v6

      - name: Build on FreeBSD
        uses: vmactions/freebsd-vm@v1
        with:
          release: "14.0"
          usesh: true
          prepare: |
            pkg install -y cmake
          run: |
            echo Building on FreeBSD $(uname -m)
            cmake -B build
            cmake --build build
            cmake --install build --prefix install
            ls -la install/

  build-doc:
    runs-on: ubuntu-latest
    name: Build Documentation (Ubuntu)
    steps:
      - uses: actions/checkout@v6

      - name: Install doxygen
        run: sudo apt-get install doxygen

      - name: Build HTML documentation
        run: |
          cmake -B build -DBUILD_DOC=ON
          cmake --build build

      - name: Install docs
        run: |
          cmake --install build --prefix install
          ls -la install/

#  build-calceph:
#    runs-on: ubuntu-latest
#    name: Build with CALCEPH support (Ubuntu)
#    steps:
#      - uses: actions/checkout@v6
#
#      - name: Install libcalceph-dev
#        run: |
#          sudo apt-get update -q -y
#          sudo apt-get install -y libcalceph-dev
#
#      - name: Build with CALCEPH support enabled
#        run: |
#          cmake -B build -DENABLE_CALCEPH=ON
#          cmake --build build
