name: Build
permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'include/**'
      - 'tools/src/**'
      - 'Makefile'
      - '*.mk'
      - '.github/workflows/build.yml'

  pull_request:
    paths:
      - 'src/**'
      - 'include/**'
      - 'tools/src/**'
      - 'Makefile'
      - '*.mk'
      - '.github/workflows/build.yml'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        include:
          - os: ubuntu-latest
            cc: gcc
          - os: macos-latest
            cc: clang
    env:
      CC: ${{ matrix.cc }}
      CFLAGS: -Os -Wall -Werror
      CSTANDARD: c99
      WEXTRA: 1
      FORTIFY: 3

    steps:
      - uses: actions/checkout@v6

      - name: Build static library
        run: make static

      - name: Build shared library
        run: make shared

      - name: Compile solsys plugins
        run: make solsys

      - name: Build examples
        run: make examples

      - name: Build benchmarks
        run: make -C benchmark build

  build-cpp:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        include:
          - os: ubuntu-latest
            cxx: g++
          - os: macos-latest
            cxx: clang++
    env:
      CXX: ${{ matrix.cxx }}
      CXXFLAGS: -Os -Wall -Werror
      WEXTRA: 1
      FORTIFY: 3

    steps:
      - uses: actions/checkout@v5

      - name: Build static library
        run: make -C cpp static

      - name: Build shared library
        run: make -C cpp shared


# Reverse build not yet supported in ubuntu-latest
#
#  reverse-build:
#    runs-on: ubuntu-latest
#    steps:
#    - uses: actions/checkout@v6
#    - name: Reverse order build
#      run: make --shuffle=reverse

#  test-calceph:
#    name: Build with CALCEPH support
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v6
#
#      - name: Install dependencies
#        run: |
#           sudo apt-get update -q -y
#           sudo apt-get install -y libcalceph-dev
#
#      - name: Build
#        env:
#          CALCEPH_SUPPORT: 1
#        run: make solsys

  build-freebsd:
    runs-on: ubuntu-latest
    name: FreeBSD
    steps:
      - uses: actions/checkout@v6

      - name: Build on FreeBSD
        uses: vmactions/freebsd-vm@v1
        with:
          release: "14.0"
          prepare: |
            pkg install -y gmake
          run: |
            echo Building on FreeBSD $(uname -m)
            gmake static
            gmake shared
