name: Static Analysis

on:
  push:
    paths:
      - 'src/**'
      - 'include/**'
      - 'Makefile'
      - '*.mk'
      - '.github/workflows/check.yml'

jobs:

  cppcheck:
    name: Check source code

    runs-on: ubuntu-latest
    env:
      CC: gcc
    steps:
    
    - uses: actions/checkout@v4
    
    - name: install dependencies
      run: sudo apt-get install -y cppcheck
    
    - name: Run cppcheck
      run: make check
