name: API documentation

on:
  push:
    paths:
      - 'src/**'
      - 'include/**'
      - 'css/**'
      - 'Doxyfile'
      - '*.md'
      - '.github/workflows/dox.yml'
      
jobs:   

  apidocs:
    name: Generate API documentation

    runs-on: ubuntu-latest
    env:
      CC: gcc
    steps:
    
    - uses: actions/checkout@v4

    - name: install dependencies
      run: sudo apt-get install -y doxygen
        
    - name: Run doxygen
      run: make dox
 
  site-update:
    name: Update github pages
    needs: apidocs
    if: github.repository_owner == 'Smithsonian' && (github.event_name == 'release' || contains(github.event.head_commit.message, 'site update'))
 
    runs-on: ubuntu-latest
    steps:
    
    - name: Checkout main
      uses: actions/checkout@v4
        
    - name: Run doxygen
      run: make dox
    
    - name: Checkout gh-pages
      uses: actions/checkout@v4
      with:
        ref: 'gh-pages'
        path: site

    - name: Assert site/doc/
      run: mkdir -p site/doc 

    - name: Copy README
      run: |
        echo '<img src="/SuperNOVAS/resources/CfA-logo.png" alt="CfA logo" width="400" height="66" align="right">' > site/doc/README.md
        cat README-headless.md >> site/doc/README.md
        
    - name: Copy CHANGELOG
      run: cp CHANGELOG.md site/doc/
      
    - name: Copy API documentation
      roun: cp -a apidoc site/
        
    - name: Push to pages
      run: |
        cd site
        git config --global user.email "$GITHUB_JOB+github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions"
        git add -A
        git commit -m "[automated site update]" && git push || true
        
