name: Example

on: 
  push:
    branches:
      - main
    paths:
      - 'examples/**'
      - '.github/workflows/example.yml'

  pull_request:
    paths:
      - 'examples/**'
      - '.github/workflows/example.yml'

jobs:

  build:
    name: Check examples

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Compile example.c
      run: |
        cd examples
        gcc -c -Wall -Werror -I ../include example.c 

      
   
